* {
  font-family: 'Hind Siliguri', sans-serif;
}

html {
  background-image: url("./img/loginBackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;
}
.formulario {
  background-color: white;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 2rem;
  flex-direction: column;
  animation: bounceInDown 1.5s;
}
.formulario div {
  display: flex;
  justify-content: space-between;
  width: 14rem;
}
input {
  width: 8rem;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-weight: bold;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 75px, 0);
  }

  75% {
    transform: translate3d(0, -70px, 0);
  }

  90% {
    transform: translate3d(0, 75px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
