* {
  font-family: 'Hind Siliguri', sans-serif;
}

h3{
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px white;
  color: white;
}
html {
  background-image: url("./img/loginBackground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
}
.formulario {
  background-image: url("./img/formBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  border: 3px #6F98B6 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 2rem;
  flex-direction: column;
  animation: bounceInDown 1.5s;
}
.formulario div {
  display: flex;
  justify-content: space-between;
  width: 14rem;
}
label {
  color: white;
}
input {
  width: 8rem;
  border-radius: 2rem;
  text-align: center;
}
.error {
  animation: jackInTheBox 1s;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid red;
  text-align: center;
  text-shadow: 2px 2px 4px white;
}
button {
  background-color: #434748;
  border: 3px #6F98B6 outset;
  color: white;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

button:hover {
  background-color: #6F98B6;
  border: 3px #434748 outset;
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 75px, 0);
  }

  75% {
    transform: translate3d(0, -70px, 0);
  }

  90% {
    transform: translate3d(0, 75px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
