* {
  overflow-x: hidden;
  padding: 0;
  margin: 0;

}
html {
  background-image: url("../img/loginBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Hind Siliguri', sans-serif;
}
.body {
  display: flex;
}

.titulo {
  font-family: 'Permanent Marker', sans-serif;
  color: #4F85B7;
  font-size: 50px;
}

.editButton img {
  display: block;
  width: 10%;
  height: 10%;
}
.aHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home:hover {
  color: #9C8A84;
}
.fondo_res {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #4F85B7;

}

td,tr{
  padding: 5px;
}

.sideMenu {
  display: inline-block;
  height: 100vh;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Hind Siliguri', sans-serif;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-left: -318px;
  position: relative;
  overflow: hidden;
}
.sideMenu:hover {
  animation: slidein 1s; animation-fill-mode: forwards;
}
.topMenu {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}
.topMenu i {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: white;
}
.sideMenu ul {
  width: 100%;
}
.sideMenu li:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
.sideMenu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1rem 0 1rem 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  width: 100%;
  align-items: center;
}
.logOut {
  filter: invert(0.4) sepia(1);
  position: absolute;
  left: 30px;
  top: 520px;
  transform: rotate(180deg);
}
.logOut img {
  width: 25px;
  height: 25px;
  display: block;
}
.logOut:hover {
  filter: invert(0.6);
}
.addButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2em;
  width: 5rem;
  filter: grayscale(1);
}
.addButton img {
  display: block;
  max-width: 100%;
}

.error {
  font-weight: bold;
  color: #9ABDDD;
  font-size: 40px;
  padding: 10px;
}

.mensaje {
  font-weight: bold;
  color: #9ABDDD;
}

/*ANIMACIONES*/
@keyframes slidein {
  from {
    margin-left: -318px;
  }

  to {
    margin-left: 0%;
  }
}
@keyframes slideout {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -318px;
  }
}
@keyframes colorChange {
  from {
    color: white;
  }

  to {
    color: #9C8A84;
  }
}
@keyframes reverseColorChange {
  from {
    color: #9C8A84;
  }

  to {
    color: white;
  }
}
@keyframes rotateOpenMenu {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}
@keyframes rotateCloseMenu {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0deg);
  }
}
